h1{text-align: center;color: purple;font-family: 'Courier New', Courier, monospace;}
.first{border: 10px solid dimgrey;float: right;}
img{height: 700px;width: 400px;}
p{color: navy;background-color: violet;}


